.m-main{
    background:url(../images/sprites/edit.png) no-repeat;
}
.m-bg{
    background:url(../images/login_bg.png) no-repeat;
}
.m-newslogo{
    background:url(../images/newsLogo.jpg);
}
.editbtn{
    background:url(../images/sprites/edit.png) no-repeat;
}
.roundright{
    background:url(../images/sprites/roundRight.png) no-repeat;
}
.roundadd{
    background:url(../images/sprites/roundAdd.png) no-repeat;
}
.search{
    background:url(../images/sprites/search.png) no-repeat;
}
.trash{
    background:url(../images/sprites/trash.png) no-repeat;
}
.trashhover{
    background:url(../images/sprites/trash_hover.png) no-repeat;
}
.pwd{
    background:url(../images/sprites/shapes_pwd.png) no-repeat;
}
.user{
    background:url(../images/sprites/shapes_user.png) no-repeat;
}
.indexedit{
    background:url(../images/sprites/index/edit.png) no-repeat;
}
.indexroundadd{
    background:url(../images/sprites/index/roundAdd.png) no-repeat;
}
.indexroundright{
    background:url(../images/sprites/index/roundRight.png) no-repeat;
}
.loginpwd{
    background:url(../images/sprites/login/shapes_pwd.png) no-repeat;
}
.loginuser{
    background:url(../images/sprites/login/shapes_user.png) no-repeat;
}
